.page-header
  %h2
    = link_to "Upload Questions", "#"
%p
  A Csv or Exel can be uploaded. First row should have the column names. The follewing are the column names

%strong
  Description, Answer_1, Answer_2, Answer_3, Answer_4, currect_answer


= form_for @upload_question, :url => upload_course_questions_path, :multipart => true, :html => { :class => "form"} do |f|
  = f.object.errors.full_messages
  .form-group
    = f.label "Upload File", :class => 'col-sm-3 control-label'
    = f.file_field :question_file
    = f.hidden_field :course_id
    = f.submit "Upload", :class => "btn btn-primary"
