%tr
  %td= center.id
  %td= link_to center.center_name, center
  %td= "#{center.address_line1}, #{center.address_line2}"
  %td= center.city
  %td= center.state
  %td= center.country
  %td= center.phone
  %td= center.center_email
