.page-header
  %h4
    = link_to "Exams On #{session[:system_date].strftime("%d/%m/%Y")}" , "#"
    .pull-right
      = link_to "Print", "#", :class => "btn btn-danger"
= render "registration_search"
%br
%table.table.table-hover
  %thead
    %th Registration Id
    %th Student Name
    %th Exam Name
    %th Start Time
    %th End Time
    %th Access Password
  %tbody
    = render partial: "center_registration", :collection => @registrations, :as => :data
