.page-header
  %h4
    = link_to "Active Registrations", registrations_path
    .pull-right
      = link_to "New Registraion", new_registration_path, :class => "btn btn-primary"

= render :partial => "registrations", :locals => {:data => @active_registrations, :pending => true }

.page-header
  %h4
    = link_to "Closed Registrations", registrations_path

= render :partial => "registrations", :locals => { :data => @closed_registrations, :pending => false }
