.col-md-5
  .page-header
    %h3
      = link_to "Course Details", courses_path
  = render partial: "courses/course_hierarchy",:locals =>{ :data => @courses}
  = link_to "New Course", new_course_path , :class => 'btn btn-primary pull-right'
.col-md-7
  .page-header
    %h3
      = link_to "Exam Centers", exam_centers_path
  = render "shared/gmap"
  = link_to "New Center", new_exam_center_path , :class => 'btn btn-primary pull-right'
