!!!
%html
  %head
    %title Husys
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", media: "all", "data-turbolinks-track" => true
  = csrf_meta_tags

  %body
    = render "shared/header"
    .container.well
      #body
        - if user_signed_in?
          .col-md-2.sidebar-offcanvas
            = render "shared/navigation_list"
          .col-md-10
            = yield
        - else
          .col-md-12
            = yield
